body{background: url(https://www.brynmawr.edu/sites/default/files/styles/article_main/public/lapcap.jpg?itok=l6vzl8fy);
background-repeat: no-repeat;
background-size: cover;}
h1{color:#FFFFFF;
background: #F11D0F}
h2{color:blue;}
em{color:green;}
strong{color:orange;}